@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v24/J7afnpd8CGxBHpUrtLY.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v24/J7aanpd8CGxBHpUrjAo9zps.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v24/J7aRnpd8CGxBHqUp.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amiri/v24/J7acnpd8CGxBHp2VkZY4.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}
a,
a:hover {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}
a p,
a:hover p {
  text-decoration: none !important;
}
/*pre-load effect*/
.loading {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  background-color: white;
}
.loading .loading-center {
  position: relative;
  width: 100%;
  height: 100%;
}
.loading .loading-center .loading-center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.loading .loading-center .loading-center-absolute .object {
  -webkit-animation: scaling 2s infinite;
  -moz-animation: scaling 2s infinite;
  -ms-animation: scaling 2s infinite;
  -o-animation: scaling 2s infinite;
  animation: scaling 2s infinite;
  width: 15px;
  height: 15px;
  background-color: #5b09bd;
  display: inline-block;
  border-radius: 50%;
  opacity: 1;
}
.loading .loading-center .loading-center-absolute .object.object_two {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loading .loading-center .loading-center-absolute .object.object_three {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loading .loading-center .loading-center-absolute .object.object_four {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
strong {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 900 !important;
}
body {
  position: relative;
}
.color-text {
  color: #5b09bd !important;
}
.light-text {
  color: #918a9a !important;
}
.mobile-nav {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 9, 189, 0.95);
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 20;
  padding: 40px 0px;
}
.mobile-nav .inner-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.mobile-nav .inner-wrapper .menu-closer {
  position: absolute;
  padding-top: 29px;
  font-size: 25px;
  right: calc(8.333% + 15px);
  color: white;
  cursor: pointer;
}
.mobile-nav .inner-wrapper .inner {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.mobile-nav .inner-wrapper .inner .nav-option {
  padding: 15px 0px;
  cursor: pointer;
  opacity: 0.8;
  font-family: 'Amiri', serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1.5;
  display: block;
  margin: 0px 80px;
}
.mobile-nav .inner-wrapper .inner .nav-option:hover {
  opacity: 1;
}
.mobile-nav .inner-wrapper .inner .nav-option:visited {
  color: white;
}
.mobile-nav .inner-wrapper .inner .nav-option .tag {
  font-family: 'Amiri', serif;
  font-size: 12px;
  font-style: italic;
  display: block;
  text-transform: lowercase;
  margin-top: -5px;
}
.mobile-nav .inner-wrapper .inner .info {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 35px;
  letter-spacing: 1;
}
.mobile-nav .inner-wrapper .inner .info hr {
  width: 100px;
}
.IntroRow {
  padding: 80px 0px 60px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #2d2629;
}
@media only screen and (max-width: 768px) {
  .IntroRow {
    padding: 48px 0px;
  }
}
.IntroRow .intro {
  margin: auto;
  position: relative;
}
.IntroRow .intro .menu-trigger {
  display: none;
  position: absolute;
  padding-top: 9px;
  font-size: 25px;
  right: 0px;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .IntroRow .intro .menu-trigger {
    display: block;
  }
}
.IntroRow .intro .introduction {
  color: #2d2629;
  line-height: 1.5;
  font-size: 32px;
}
@media only screen and (max-width: 768px) {
  .IntroRow .intro .introduction {
    font-size: 24px;
  }
}
.IntroRow .intro .introduction .myName {
  font-size: 64px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .IntroRow .intro .introduction .myName {
    font-size: 40px;
  }
}
.IntroRow .intro .introduction .specialAnd {
  font-family: 'Amiri', serif;
  font-style: italic;
  font-weight: 400;
}
.IntroRow .intro .introduction .currentJob {
  line-height: 170%;
  width: 80%;
}
@media only screen and (max-width: 1024px) {
  .IntroRow .intro .introduction .currentJob {
    width: 100%;
  }
}
.IntroRow .intro .introduction .currentJob a {
  text-decoration: underline !important;
  text-decoration-color: #5b09bd !important;
  text-decoration-thickness: 4px !important;
}
.IntroRow .intro .introduction-note {
  font-size: 24px;
  margin-top: 8px;
  width: 60%;
  line-height: 1.7;
  color: #777;
}
@media only screen and (max-width: 1024px) {
  .IntroRow .intro .introduction-note {
    width: 100%;
  }
}
.IntroRow .intro .shuffle-wrapper {
  position: relative;
  height: 48px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .IntroRow .intro .shuffle-wrapper {
    height: 32px;
  }
}
.IntroRow .intro .shuffle-wrapper .shuffle {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0px;
  padding: 8px 0px;
  -webkit-animation-play-state: running;
  /* Chrome, Safari, Opera */
  animation-play-state: running;
  -webkit-animation: flash 7s steps(4) infinite;
  -moz-animation: flash 7s steps(4) infinite;
  -ms-animation: flash 7s steps(4) infinite;
  -o-animation: flash 7s steps(4) infinite;
  animation: flash 7s steps(4) infinite;
}
@media only screen and (max-width: 768px) {
  .IntroRow .intro .shuffle-wrapper .shuffle {
    padding: 0px;
    -webkit-animation: flash-mobile 7s steps(4) infinite;
    -moz-animation: flash-mobile 7s steps(4) infinite;
    -ms-animation: flash-mobile 7s steps(4) infinite;
    -o-animation: flash-mobile 7s steps(4) infinite;
    animation: flash-mobile 7s steps(4) infinite;
  }
}
@-moz-keyframes flash {
  0% {
    top: -6px;
  }
  100% {
    top: -198px;
  }
}
@-webkit-keyframes flash {
  0% {
    top: -6px;
  }
  100% {
    top: -198px;
  }
}
@-o-keyframes flash {
  0% {
    top: -6px;
  }
  100% {
    top: -198px;
  }
}
@keyframes flash {
  0% {
    top: -6px;
  }
  100% {
    top: -198px;
  }
}
@-moz-keyframes flash-mobile {
  0% {
    top: 0px;
  }
  100% {
    top: -144px;
  }
}
@-webkit-keyframes flash-mobile {
  0% {
    top: 0px;
  }
  100% {
    top: -144px;
  }
}
@-o-keyframes flash-mobile {
  0% {
    top: 0px;
  }
  100% {
    top: -144px;
  }
}
@keyframes flash-mobile {
  0% {
    top: 0px;
  }
  100% {
    top: -144px;
  }
}
.IntroRow .intro .mytitle {
  margin: 20px auto;
  color: #777;
  letter-spacing: 1.1;
  font-size: 17px;
  font-variant: small-caps;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.IntroRow .link-wrapper {
  margin-top: 56px;
  margin-bottom: 16px;
  color: #5b09bd;
  letter-spacing: 0.5;
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .IntroRow .link-wrapper {
    font-size: 16px;
  }
}
.IntroRow .link-wrapper .links {
  padding: 8px 19px 8px 0px;
}
.IntroRow .nav-wrapper {
  margin-left: -8px;
  padding-top: 20px;
}
@media only screen and (max-width: 700px) {
  .IntroRow .nav-wrapper {
    display: none;
  }
}
.IntroRow .nav-wrapper .tooltip {
  opacity: 0.5;
}
.IntroRow .nav-wrapper .nav-link {
  font-size: 18px;
  position: relative;
  display: inline-block;
  margin: 15px auto;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  letter-spacing: 1.1;
  color: #918a9a;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.IntroRow .nav-wrapper .nav-link:focus {
  color: #5b09bd;
}
.IntroRow .nav-wrapper .nav-link:hover {
  color: #5b09bd;
}
.IntroRow .nav-wrapper .nav-link:after {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 50%;
  width: 50%;
  height: 5%;
  content: '';
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  background: rgba(91, 9, 189, 0.25);
}
.IntroRow .nav-wrapper .nav-link:hover:after {
  width: 70%;
  opacity: 1;
}
.IntroRow .nav-wrapper .nav-link:active:after {
  width: 100%;
  opacity: 1;
}
.ProjRow {
  margin-bottom: 24px;
}
.ProjRow img {
  width: 100%;
}
.ProjRow .square {
  margin-bottom: 40px;
}
.ProjRow .square .projImg {
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 2px 0px 0px rgba(91, 9, 189, 0.12);
  border: 1px solid rgba(91, 9, 189, 0.08);
  border-radius: 4px;
}
.ProjRow .square .projImg:hover {
  box-shadow: 0px 2px 16px 0px rgba(91, 9, 189, 0.12);
}
.ProjRow .square .projImg .scaled-img {
  border-radius: 4px;
}
.ProjRow .square .projImg .projIcon {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-top: 28%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ProjRow .square .projImg .projIcon img {
  width: auto;
  height: 20px;
  margin-bottom: 16px;
}
.ProjRow .square .projImg .projIcon .projTitle {
  color: #2d2629;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5;
  font-size: 20px;
}
.ProjRow .square .projImg .projIcon .projTags {
  color: #918a9a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.ProjRow .square .projImg .projIcon .square-cta {
  color: #5b09bd;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-top: 8px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 414px) {
  .ProjRow .square .projImg .projIcon .square-cta {
    display: none;
  }
}
.ProjRow .square .projImg .debit .projTitle {
  color: #ffffff;
}
.ProjRow .square .projImg .debit .projTags {
  color: #ffffff;
}
.ProjRow .square .projImg .debit .square-cta {
  color: #ffffff;
}
.ProjRow .square:hover {
  cursor: pointer;
}
.ProjRow .square:hover .projIcon {
  transform: translateY(-5px);
}
.ProjRow .square:hover .projIcon .square-cta {
  opacity: 1;
}
.ContactRow {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 56px;
  margin-top: 24px;
}
.ContactRow div {
  padding: 8px 0px;
}
.ContactRow a {
  display: inline-block;
  padding: 8px 32px 8px 0px;
  font-size: 16px;
  margin: 7px 0px;
}
.ContactRow a i {
  font-size: 28px;
  vertical-align: sub;
  margin: 0px 4px;
}
.ContactRow a i:hover {
  cursor: pointer;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}
@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes scaling {
  75% {
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
  }
}
@keyframes scaling {
  75% {
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
  }
}
.homeKey {
  border-radius: 100%;
  background-color: #5b09bd;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.homeKey:hover {
  box-shadow: 2px 6px 14px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.homeKey img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 10;
  top: 8;
  z-index: 20;
}
.topKey {
  display: none;
  color: #5b09bd;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  box-shadow: 2px 4px 10px 0 rgba(91, 9, 189, 0.4);
  z-index: 100;
  border: 2px solid #5b09bd;
  border-radius: 2px;
}
.topKey:hover {
  box-shadow: 2px 6px 14px 0 rgba(91, 9, 189, 0.4);
  cursor: pointer;
}
.topKey i {
  margin-top: 7px;
  font-size: 33px;
  z-index: 20;
}
.img-featured img {
  width: 100%;
}
.jumbotronRow {
  position: relative;
  padding: 72px 0px 32px 0px;
}
.jumbotronRow h1 {
  color: #5b09bd;
  font-family: 'Amiri', serif;
  font-weight: 700;
  letter-spacing: 0.3;
  font-size: 56px;
}
@media only screen and (max-width: 768px) {
  .jumbotronRow h1 {
    font-size: 40px;
  }
}
.jumbotronRow hr {
  width: 65%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.jumbotronRow h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #b9b9b9;
}
.jumbotronRow a {
  font-size: 14px;
  color: #5b09bd;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 200px;
  margin-top: 30px;
  letter-spacing: 0.5px;
}
.jumbotronRow a i {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  vertical-align: middle;
}
.jumbotronRow a:hover i {
  opacity: 1;
  -moz-transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.hero-img {
  width: 100%;
  margin-bottom: 64px;
}
.hero-img img {
  width: 100%;
}
.img-title {
  color: #918a9a;
  font-family: 'Amiri', serif;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 13px;
}
.img-title .fa-hand-o-up {
  display: none;
}
.img-title hr {
  margin: 7px 0px;
  width: 180px;
}
@media only screen and (max-width: 500px) {
  .img-title hr {
    width: 115px;
  }
}
@media only screen and (max-width: 768px) {
  .img-title {
    margin-bottom: 25px;
  }
  .img-title .fa-hand-o-up {
    display: inline-block;
  }
  .img-title .fa-hand-o-left {
    display: none;
  }
}
.img-fluid {
  margin-top: -56px;
  margin-bottom: 72px;
}
.img-fluid img {
  width: 100%;
}
.whiteLine img {
  width: 100%;
  border-radius: 2px;
}
.whiteLine .details {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2d2629;
  margin-bottom: 72px;
}
@media only screen and (max-width: 815px) {
  .whiteLine .details {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .whiteLine .details {
    margin-right: 0px;
  }
}
.whiteLine .details.museum-solutions .row p {
  margin-top: 25%;
}
@media only screen and (max-width: 992px) {
  .whiteLine .details.museum-solutions .row p {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .whiteLine .details.museum-solutions .row p {
    margin-top: 0px;
  }
}
.whiteLine .details p,
.whiteLine .details span,
.whiteLine .details ul {
  font-size: 18px;
  letter-spacing: 0.15px;
  line-height: 1.8;
}
.whiteLine .details .body-big {
  font-size: 22px;
}
.whiteLine .details blockquote {
  padding: 4px 20px 4px 10px;
  font-size: 16px;
  margin: 12px 0px 7px 10px;
  border-left: 4px solid #f4f4f5;
}
.whiteLine .details blockquote .quoted-by {
  font-style: italic;
  color: #b9b9b9;
  font-family: 'Amiri', serif;
}
.whiteLine .details .panel {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.whiteLine .details .panel-default {
  border: none;
}
.whiteLine .details .panel-default + .panel {
  -webkit-box-sizing: none;
  -moz-box-sizing: none;
  box-sizing: none;
}
.whiteLine .details .panel-default .panel-heading {
  padding: 0px;
  background-color: #f4f4f4;
}
.whiteLine .details .panel-default .panel-heading a {
  background-image: url("../icons/plus-solid.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding: 16px;
  display: block;
}
.whiteLine .details .panel-default .panel-heading a.open {
  background-image: url("../icons/minus-solid.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.whiteLine .details .panel-default .panel-heading a.collapsed {
  background-image: url("../icons/plus-solid.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.whiteLine .details .panel-default .panel-body {
  border: none;
  padding: 16px 0px;
}
.whiteLine .details h4 {
  font-family: 'Amiri', serif;
  color: #5b09bd;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 12px;
  line-height: 1.5;
  font-weight: 700;
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .whiteLine .details h4 {
    font-size: 24px;
  }
}
.whiteLine .details .label-tag {
  background-color: #5b09bd;
  opacity: 0.75;
  font-weight: normal;
  padding: 3px 5px;
}
.whiteLine .details .proj-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: inline-block;
  border: 1px solid #333;
  padding-right: 5px;
  padding-left: 5px;
  margin: 5px;
  border-radius: 2px;
  color: #333;
}
.whiteLine .details .gray-block {
  background: #f4f4f5;
  padding: 20px 20px 8px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.whiteLine .details .gray-block .persona-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.whiteLine .details .gray-block .labels {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.whiteLine .details .outline-block {
  border: 1px solid #b9b9b9;
  padding: 20px 20px 8px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.whiteLine .next-step {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #5b09bd;
  padding-bottom: 80px;
}
.whiteLine .next-step a {
  padding: 8px;
  border: 2px solid;
  margin-bottom: 10px;
  border-radius: 2px;
}
.whiteLine .next-step a:visited {
  color: #5b09bd;
}
.whiteLine .next-step a:hover {
  color: #5b09bd;
}
.whiteLine .next-step .hide-mobile {
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .whiteLine .next-step .hide-mobile {
    display: none;
  }
}
.whiteLine .next-step i {
  font-size: 14px;
  display: none;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .whiteLine .next-step i {
    margin: 0px;
  }
}
.whiteLine .small-img {
  width: 90%;
  box-shadow: none !important;
}
@media only screen and (max-width: 768px) {
  .whiteLine .small-img {
    width: 90%;
  }
}
.whiteLine .no-shadow-img {
  box-shadow: none;
  width: 100%;
}
.whiteLine .shadow-img {
  box-shadow: 2px 2px 7px #b7b7b7;
}
.whiteLine .outline-img {
  border: 2px solid #f4f4f5;
  border-radius: 3px;
}
.whiteLine .add-margin {
  margin-top: 5px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .whiteLine .add-margin {
    margin-bottom: 5px;
  }
}
.carousel {
  margin-bottom: 65px;
  margin-top: 15px;
}
.carousel .carousel-inner {
  border-radius: 2px;
}
.carousel .carousel-inner .item img {
  border-radius: 2px;
}
.carousel .carousel-indicators {
  bottom: -45px;
}
.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: rgba(91, 9, 189, 0.5);
  border: none;
}
.carousel .carousel-indicators .active {
  background-color: #5b09bd;
  border: none;
  margin: 1px;
  width: 30px;
  height: 10px;
}
.carousel .carousel-control {
  font-size: 30px;
  color: #5b09bd;
  text-shadow: none;
  opacity: 0.6;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-image: none !important;
}
.carousel .carousel-control:hover,
.carousel .carousel-control:focus {
  color: #5b09bd;
  opacity: 1;
}
.carousel#deepintent-carousel .carousel-inner > .item > img {
  margin: auto;
  height: 100%;
  width: auto;
}
.carousel#deepintent-carousel .carousel-inner {
  height: 740px;
}
.carousel#deepintent-carousel .carousel-inner {
  padding-bottom: 15px;
}
@media only screen and (max-width: 800px) {
  .carousel#deepintent-carousel .carousel-inner {
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .carousel#deepintent-carousel .carousel-inner > .item > img {
    width: 100%;
    height: auto;
  }
}
.process-anchor {
  margin-left: -1em;
}
.process-anchor .color-text:hover {
  cursor: pointer;
}
