a,
a:hover{
    text-decoration: none !important;
    color:inherit;
}

.homeKey{
	border-radius: 100%;
	/*background-color: #ff7373;*/
	background-color: #d83e77; 
	width:50px;
	height:50px;
	position:fixed;
	top:20px;
	left:20px;
	color:white;
	box-shadow: 0px 6px 13px 0 rgba(0,0,0,0.20);
	z-index: 100;
}

.homeKey:hover{
	box-shadow: 0px 12px 17px 0 rgba(0,0,0,0.20);
	cursor: pointer;
}
.homeKey img{
	position:absolute;
	width:30px;
	height:30px;
	left:10;
	top:8;
	z-index:100;
}

.jumbotronRow{
	position: relative;
	/*height: 260px;*/
	padding-top: 25px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	/*color: #ff7373;*/
	color: #d83e77;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/*z-index:-10;*/
}

/*.projIntro{
	position:fixed;
	top:50px;
	left:10px;
	width: 100%;
}*/


.jumbotronRow hr{
	width:65%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.jumbotronRow h5{
	line-height: 1.5;
}

.jumbotronRow .btn{
	background-color: rgba(255,255,255,1);
	border-radius: 0px;
	/*color: #ff7373;*/
	color:#d83e77;
	/*border-color: #ff7373;*/
	border-color:#d83e77;
	margin-top:15px;
}


.details{
	margin-bottom: 50px;
	margin-left: 15px;
}

.details h4{
	font-variant: small-caps;
}


.whiteLine{
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);

}



.whiteLine{
	padding:35px 80px 40px 80px;
}


.whiteLine h4{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color:#888;
}

.whiteLine p{
	font-family: 'Lato', sans-serif;
	color:#333;
	font-size: 16px;
}





.whiteLine img{
	width: 100%;
	margin-top:10px;
	margin-bottom: 10px;
}


.carousel-inner img{
	margin-top: 0px;
	margin-bottom: 0px;
}

.carousel-inner{
	height:500px;
	overflow: hidden;
}

.carousel{
width: 80%;
margin: auto;
}

.carousel-indicators{

	 bottom: 10px; 

}

.carousel-indicators li{
	border: 1px solid black;
}
.carousel-indicators .active{
	background-color: black;
}

.jumbotronRow .btn{
	position:relative;
	overflow: hidden;
	width:120px;
	height: 35px;
}
.jumbotronRow .btn span{
	position: absolute;
	transition:top 0.3s;
	-webkit-transition:top 0.3s;
	-moz-transition:top 0.3s;
	-o-transition:top 0.3s;
	
}

.top_content{
	top:7.5px;
	left:16px;
}
.bottom_content{
	top:100px;
	left:16px;
}
.jumbotronRow .btn:hover .top_content{
	top:-100px;
}
.jumbotronRow .btn:hover .bottom_content{
	top:7.5px;
}


 /*TC website redesign */
.TCweb-btn{
	/*border: 2px solid #3b6aa0;*/
	color:#d83e77;
	/*background-color: transparent;*/
	border-radius: 0px;
	opacity: 0.75;
}
.TCweb-btn:hover{
	opacity: 1;
	color:#d83e77;
}
/*.TCweb-btn:hover a{
color:white;
}*/
.TCweb-btn a,
.TCweb-btn a:hover{
	text-decoration: none;
}

/*.TCweb-btn a{
	color:#3b6aa0;
}*/

.TC-Web-Row{
	margin-bottom: 40px;
}
.Web-info{
	margin-top: 10px;
}

.TC-web-link a{
	color:#3b6aa0;
	/*font-weight: 800;*/

}

.TC-web-link:hover{
	color:#1D3550;
}

.link-wrapper{
	margin-bottom:10px;
	margin-top: 5px;
}

.link-wrapper .TC-web-link{
	display:inline-block;
	margin-right:10px;
}

.whiteLine .label-info{
	font-family: 'Lato', sans-serif;
}
.Web-info li{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.label-tag{
	background-color: #d83e77;
	opacity: 0.75;
}




