.letter {
    font-family: 'Alice', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'EB Garamond', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Kalam', cursive;

    font-weight: 300;
    font-size: 20px;
    line-height: 2;
    margin: 64px 0px;
}

.letter p {
    margin: 0px 0px 16px;
}

hr {
    border-top: 1px solid #e4e4e4;
}

.intro {
    color: #7b7b7b;
}

img{
    width: 100%;
    margin-bottom: 8px;
}